<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>controllers.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <display-name>Project-Fruit</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>controllers.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>controllers.Admin.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>controllers.Admin.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>controllers.Admin.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaticServlet</display-name>
    <servlet-name>StaticServlet</servlet-name>
    <servlet-class>controllers.Admin.StaticServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaticServlet</servlet-name>
    <url-pattern>/StaticServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientIndexServlet</display-name>
    <servlet-name>ClientIndexServlet</servlet-name>
    <servlet-class>controllers.Client.ClientIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientIndexServlet</servlet-name>
    <url-pattern>/ClientIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientProductServlet</display-name>
    <servlet-name>ClientProductServlet</servlet-name>
    <servlet-class>controllers.Client.ClientProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientProductServlet</servlet-name>
    <url-pattern>/ClientProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientContactServlet</display-name>
    <servlet-name>ClientContactServlet</servlet-name>
    <servlet-class>controllers.Client.ClientContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientContactServlet</servlet-name>
    <url-pattern>/ClientContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientCartServlet</display-name>
    <servlet-name>ClientCartServlet</servlet-name>
    <servlet-class>controllers.Client.ClientCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientCartServlet</servlet-name>
    <url-pattern>/ClientCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientWishlistServlet</display-name>
    <servlet-name>ClientWishlistServlet</servlet-name>
    <servlet-class>controllers.Client.ClientWishlistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientWishlistServlet</servlet-name>
    <url-pattern>/ClientWishlistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientPaymentServlet</display-name>
    <servlet-name>ClientPaymentServlet</servlet-name>
    <servlet-class>controllers.Client.ClientPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientPaymentServlet</servlet-name>
    <url-pattern>/ClientPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientProfileServlet</display-name>
    <servlet-name>ClientProfileServlet</servlet-name>
    <servlet-class>controllers.Client.ClientProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientProfileServlet</servlet-name>
    <url-pattern>/ClientProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientSignUpServlet</display-name>
    <servlet-name>ClientSignUpServlet</servlet-name>
    <servlet-class>controllers.Client.ClientSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientSignUpServlet</servlet-name>
    <url-pattern>/ClientSignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientProductDetailServlet</display-name>
    <servlet-name>ClientProductDetailServlet</servlet-name>
    <servlet-class>controllers.Client.ClientProductDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientProductDetailServlet</servlet-name>
    <url-pattern>/ClientProductDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientSignInServlet</display-name>
    <servlet-name>ClientSignInServlet</servlet-name>
    <servlet-class>controllers.Client.ClientSignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientSignInServlet</servlet-name>
    <url-pattern>/ClientSignInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controllers.Admin.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientFGServlet</display-name>
    <servlet-name>ClientFGServlet</servlet-name>
    <servlet-class>controllers.Client.ClientFGServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientFGServlet</servlet-name>
    <url-pattern>/ClientFGServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientAddressServlet</display-name>
    <servlet-name>ClientAddressServlet</servlet-name>
    <servlet-class>controllers.Client.ClientAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientAddressServlet</servlet-name>
    <url-pattern>/ClientAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientOrderHistoryServlet</display-name>
    <servlet-name>ClientOrderHistoryServlet</servlet-name>
    <servlet-class>controllers.Client.ClientOrderHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientOrderHistoryServlet</servlet-name>
    <url-pattern>/ClientOrderHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientEditProfileServlet</display-name>
    <servlet-name>ClientEditProfileServlet</servlet-name>
    <servlet-class>controllers.Client.profile.ClientEditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientEditProfileServlet</servlet-name>
    <url-pattern>/ClientEditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientChangePasswordServlet</display-name>
    <servlet-name>ClientChangePasswordServlet</servlet-name>
    <servlet-class>controllers.Client.profile.ClientChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientChangePasswordServlet</servlet-name>
    <url-pattern>/ClientChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>I18nFilter</display-name>
    <servlet-name>I18nFilter</servlet-name>
    <servlet-class>controllers.Client.I18nFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>I18nFilter</servlet-name>
    <url-pattern>/I18nFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>I18nFilter1</display-name>
    <servlet-name>I18nFilter1</servlet-name>
    <servlet-class>filter.I18nFilter1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>I18nFilter1</servlet-name>
    <url-pattern>/I18nFilter1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpFilter</display-name>
    <servlet-name>HttpFilter</servlet-name>
    <servlet-class>filter.HttpFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpFilter</servlet-name>
    <url-pattern>/HttpFilter</url-pattern>
  </servlet-mapping>
</web-app>